@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Emoji:wght@300...700&display=swap");

/*----------------- Main Layout ------------------*/
/* get rid of padding */
div.dialog.largedialog.characterviewer,
.ui-dialog .charsheet { 
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px;
    margin-right: 0px;
}

/* responsive grid layouts */
 main.party {
  display: grid;
  width:  100%;
  height: 100%;
  grid-gap: 0px;
  grid-template-columns: 1fr 800px;
  grid-template-rows: 70px 1fr 20px;
  grid-template-areas: "phd phd"
                       "dsc man"
                       "ftr ftr"; 
 }

 main.character {
  display: grid;
  width:  1024px;
  height: 750px;
  grid-gap: 0px;
  grid-template-columns: 204px 102px 102px 204px 204px 204px;
  grid-template-rows: 70px 180px 180px 300px 20px;
  grid-template-areas:"hdr hdr hdr grp lvl lvl"
                      "str dex dex con act act"
                      "int wis wis cha act act"
                      "eqp eqp fea fea act act"
                      "ftr ftr ftr ftr ftr ftr";
 }

 .charsheet .character-class {
  width: 335px;
 }
 .charsheet .list-first,
 .charsheet .list-middle,
 .charsheet .list-last{
  width: 225px;
  font-size: 13px;
 }
 .charsheet input.damage,
 .charsheet input.resistances{
   width: 360px;
   font-size: 14px;
 }
 .charsheet input.armor{
    width: 225px;
 } 
  .inventory {
     display: none;
 }
 .charsheet label.description {
    font-size: 12px;
    line-height: 16px;
 }

@media only screen and (max-width: 1025px) {
 main.character {
  display: grid;
  width:  720px;
  height: 900px;
  grid-gap: 0px;
  grid-template-columns: 200px 200px 320px;
  grid-template-rows: 70px 180px 180px 180px 300px 20px;
  grid-template-areas:"hdr hdr lvl"
                      "str int act"
                      "dex wis act"
                      "con cha act"
                      "eqp eqp fea"
                      "ftr ftr ftr";
 }
 
 .charsheet .character-class {
  width: 247px;
 }
 .charsheet .list-first,
 .charsheet .list-middle,
 .charsheet .list-last{
  width: 240px;
  font-size: 13px;
 }
 .charsheet input.damage,
 .charsheet input.resistances{
   width: 250px;
   font-size: 12px;
 }
 .charsheet input.armor{
    width: 175px;
 }
  .group, .inventory {
     display: none;
 }
 .charsheet label.description {
    font-size: 12px;
    line-height: 16px;
 }
} @media only screen and (max-width: 725px) {
 main.character {
  display: grid;
  width:  450px;
  height: 1230px;
  grid-gap: 0px;
  grid-template-columns: 200px 250px;
  grid-template-rows: 70px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 20px;
  grid-template-areas:"grp lvl"
                      "str act"
                      "str act"
                      "str act"
                      "dex act"
                      "dex act"
                      "dex act"
                      "con act"
                      "con act"
                      "con eqp"
                      "int eqp"
                      "int eqp"
                      "int eqp"
                      "wis eqp"
                      "wis fea"
                      "wis fea"
                      "cha fea"
                      "cha fea"
                      "cha fea"
                      "ftr ftr";

     
 }
 .charsheet .character-class {
  width: 177px;
 }
 .charsheet .list-first,
 .charsheet .list-middle,
 .charsheet .list-last{
  width: 180px;
  font-size: 11px;
 }
 .charsheet input.damage,
 .charsheet input.resistances{
   width: 150px;
   font-size: 10px;
 }
 .charsheet input.armor{
   width: 120px;
 }
 .group { display: flex; }
 .header, .inventory {
     display: none;
 }
 .charsheet label.description {
    font-size: 11px;
    line-height: 14px;
 }
} @media only screen and (max-width: 455px) {
 main.character {
  display: grid;
  width:  250px;
  height: 2000px;
  grid-gap: 0px;
  grid-template-columns: 250px;
  grid-template-rows: 70px 540px 160px 145px 145px 170px 170px 145px 295px 300px 20px;
  grid-template-areas:"lvl"
                      "act"
                      "str"
                      "dex"
                      "con"
                      "int"
                      "wis"
                      "cha"
                      "eqp"
                      "fea"
                      "ftr";

     
 }
 .charsheet .character-class {
  width: 177px;
 }
 .charsheet .list-first,
 .charsheet .list-middle,
 .charsheet .list-last{
  width: 180px;
  font-size: 11px;
 }
 .charsheet input.damage,
 .charsheet input.resistances{
   width: 150px;
 }
 .charsheet input.armor{
   width: 120px;
 }
 .header, .group, .inventory {
     display: none;
 }
 .charsheet label.description {
    font-size: 11px;
    line-height: 14px;
 }
}
/*----------------- GENERAL CSS ------------------*/
:root {
  --border-color: black; 
  --text-color: black;
  --alt-color: teal;
  --save-color: blue;
  --skill-color: green;
  --attack-color: #b00000;
  --disabled-color: gray;
  --separator-color: #c0a080;
  
  --header-bg: #e0c0a0;
  --page-bg: #fff0e0; 
  --tab-bg: #e0d0c0;
  --input-bg: white;
  --alt-bg: #e0faff;
  --save-bg: #e0f0ff;
  --skill-bg: #e0fff0;
  --attack-bg: #ffe0f0;
  --disabled-bg: #c0c0c0;
  --save-bg-dark: #30407f;
  --skill-bg-dark: #307f40;
  --attack-bg-dark: #7f3030;
  --header-bg-dark: #706050;
  
  --font-text: "Libre Baskerville";
  --font-number: "Arial";
  --font-icon: "Noto Emoji";
  
}

section {
    padding: 5px;
    border-style: solid; 
}

.header { grid-area: hdr; }
.group { grid-area: grp; }
.level { grid-area: lvl; }
.str { grid-area: str; }
.dex { grid-area: dex; }
.con { grid-area: con; }
.int { grid-area: int; }
.wis { grid-area: wis; }
.cha { grid-area: cha; }
.actions { grid-area: act; }
.equipment { grid-area: eqp; }
.inventory { grid-area: inv; }
.feats { grid-area: fea; }
footer { grid-area: ftr; }

/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  display: flex; 
  flex-wrap: nowrap;
  white-space: nowrap;
}
.flush {
  height: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.f-center {
  align-items: center;
  justify-content: center;
}
.f-right {
  align-items: right;
  justify-content: right;
}

/*------------- Section-specific CSS -------------*/

.charsheet .header {
  background-color: var(--header-bg);
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-left: 0px transparent;
  border-right: 0px transparent;
}

.charsheet .group {
  background-color: var(--header-bg);
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-left: 0px transparent;
  border-right: 0px transparent;
}

.charsheet .level {
  flex-direction: row;
  white-space: pre nowrap;
  background-color: var(--header-bg);
  border-top-right-radius: 45px;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-left: 0px transparent;
}

.charsheet .str, 
.charsheet .dex, 
.charsheet .con, 
.charsheet .int, 
.charsheet .wis, 
.charsheet .cha,
.charsheet .actions, 
.charsheet .feats, 
.charsheet .equipment, 
.charsheet .inventory {
  background-color: var(--page-bg);
  border-top: 0px transparent;
  border-right: 1px solid var(--separator-color);
  border-left: 0px transparent;
  border-bottom: 1px solid var(--separator-color);
}

footer { 
  background-color: var(--header-bg);
  border: 2px solid var(--border-color);
}

/*----------------- text & input styling -----------------*/
 
/* remove the arrow at the {
end of select boxes */
/* .charsheet select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
} */

.charsheet h3 {
  text-align: center;
  font-family: var(--font-text);
}
.charsheet hr.space {
  width: 95%;
  height: 1px;
  margin: 1px;
  padding: 1px;
  border: 1px transparent;
  background-color: var(--page-bg);
}
.charsheet hr.line {
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  border-top: 1px dotted var(--separator-color);
  background-color: var(--page-bg);
}

/* header input and display elements */
.charsheet .character-name {
  text-align: left;
  margin: 1px 1px;
  width: 320px;
  height: 25px;
  font-family: var(--font-text);
  font-weight: bold;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 1px solid var(--border-color);
}
.charsheet .character-race {
  text-align: center;
  margin: 1px 1px;
  width: 120px;
  height: 25px;
  font-family: var(--font-text);
  font-weight: bold;
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 1px solid var(--border-color);
}
.charsheet .character-party {
  text-align: left;
  margin: 1px 1px;
  width: 140px;
  height: 25px;
  font-family: var(--font-text);
  font-weight: bold;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 1px solid var(--border-color);
}
.charsheet .character-class {
  text-align: center;
  margin: 1px 1px;
  padding: 1px;
  height: auto;
  line-height: 32px;
  color: var(--text-color);
  font-family: var(--font-text);
  font-weight: bold;
  font-size: 24px;
  background-color: var(--input-bg);
  border: 3px solid var(--border-color);
}
.charsheet .character-level {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  text-align: center;
  padding: 1px;
  padding-right: 10px;
  margin: 1px 1px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  font-family: var(--font-number);
  font-weight: bold;
  font-size: 30px;
  color: var(--text-color);
  background-color: var(--input-bg);
  border-top-right-radius: 75%;
  border: 3px solid var(--border-color);
}

/*--------------------- tabbed panels --------------------*/
.charsheet div.actionPanel {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.charsheet div.panelHeader {
  height: 20px;
  padding-top: 1px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid var(--separator-color);
  z-index: 1;
}

.charsheet button.tab-prepare,
.charsheet button.tab-travel,
.charsheet button.tab-explore,
.charsheet button.tab-fight,
.charsheet button.tab-attack,
.charsheet button.tab-defend,
.charsheet button.tab-move,
.charsheet button.tab-react,
.charsheet button.tab-feat{
  height: 15px;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -1px;
  color: var(--text-color);
  font-weight: normal;
  font-size: 12px;
  background-color: var(--tab-bg);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-top: 2px solid var(--separator-color);
  border-left: 2px solid var(--separator-color);
  border-right: 2px solid var(--separator-color);
  border-bottom: 0px solid var(--page-bg);
  z-index: 2;
}
.charsheet button.tab-prepare,
.charsheet button.tab-travel,
.charsheet button.tab-explore,
.charsheet button.tab-fight{
  width: 50px;
}
.charsheet button.tab-attack,
.charsheet button.tab-defend{
  width: 45px;
}
.charsheet button.tab-move,
.charsheet button.tab-react,
.charsheet button.tab-feat{
  width: 35px;
}

.charsheet div.panel-travel,
.charsheet div.panel-explore,
.charsheet div.panel-fight,
.charsheet div.panel-attack,
.charsheet div.panel-defend,
.charsheet div.panel-move,
.charsheet div.panel-react,
.charsheet div.panel-feat{
  margin-top: 1px;
}

/* main sheet input and display elements */
/* a 'rollbox' is a roll button next to a label or select box indicating the die size */
.charsheet span.rollbox {
  display: inline-flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  height: 25px;
} .charsheet button.proficiency {
  margin: 0px !important;
  padding: 0px;
  width: 20px;
  height: auto; 
  color: var(--text-color);
  border: 2px solid var(--border-color);
  background: var(--header-bg);
  border-right: 0px;    
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
} .charsheet button.proficiency::before {
  text-align: center;
  vertical-align: middle;
  line-height: 3px;
  color: var(--text-color);
} .charsheet button.skill {
  color: var(--skill-color);
  border: 2px solid var(--skill-color);
  border-right: 0px;    
  background: var(--skill-bg);
} .charsheet button.skill::before {
  color: var(--skill-color);
} .charsheet button.save {
  color: var(--save-color);
  border: 2px solid var(--save-color);
  border-right: 0px;    
  background: var(--save-bg);
} .charsheet button.save::before {
  color: var(--save-color);
} .charsheet button.attack {
  color: var(--attack-color);
  border: 2px solid var(--attack-color);
  border-right: 0px;    
  background: var(--attack-bg);
} .charsheet button.attack::before, .charsheet button.opportunity-attack::before {
  color: var(--attack-color);
} .charsheet .proficiency-die {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: auto;
  vertical-align: middle;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 30px;
  height: auto;
  font-family: var(--font-number);
  font-weight: bold;
  font-size: 15px;
  
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 2px solid var(--border-color);

  border-left: 1px solid var(--border);    
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.charsheet label.initiative,
.charsheet label.armor-defense {
  vertical-align: middle;
  font-family: var(--font-text);
  font-size: 15px;
  color: var(--text-color); 
  margin: 3px;
  padding: 3px 0 0 0;
} .charsheet input.armor {
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  height: 25px;
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 1px solid var(--border-color);
} .charsheet .dv-big {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  width: 35px;
  height: 20px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 16px;
  color: var(--text-color);
  padding: 0px 2px;
  background-color: var(--input-bg);
  border-top-left-radius: 50% 15%;
  border-top-right-radius: 50% 15%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border: 3px solid var(--save-color);
  background-color: var(--save-bg);
} .charsheet input.resistances {
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 20px;
  font-family: var(--font-number);
  font-style: bold;

  color: var(--text-color);
  background-color: var(--input-bg);
  border: 1px solid var(--border-color);
  border-radius: 5px;
} 

.charsheet label.damage {
  font-family: var(--font-text);
  text-align: right;
  font-size: 13px;
  color: var(--text-color); 
  margin: 3px;
  padding: 3px 0 0 0;
} .charsheet input.damage {
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 20px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 14px;
  
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 1px solid var(--border-color);

  border-right: 1px solid var(--border-color);    
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
} .charsheet button[type="roll"].damage {
  margin: 0px;
  padding: 0px;
  width: 20px;
  height: 17px; /*  should be 20px, no idea why it doesn't line up with input.skill's height */
  border: 2px solid var(--attack-color);
  background: var(--attack-bg);

  border-left: 0px;    
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.charsheet label.ability {
  font-family: var(--font-text);
  font-size: 18px;
  font-style: bold;
  color: var(--text-color); 
  margin: 3px;
  padding: 3px 0 0 0;
}
.charsheet label.save {
  font-family: var(--font-text);
  font-size: 16px;
  font-style: italic;
  color: var(--text-color); 
  margin: 3px;
  padding: 3px 0 0 0;
}

.charsheet label.skill,
.charsheet label.proficiency{
  font-family: var(--font-text);
  font-size: 15px;
  color: var(--text-color); 
  margin: 3px;
  padding: 3px 0 0 0;
} .charsheet .skill-trainingbox {
  display: inline-block;
  height: 15px;
  width: 15px;
  aspect-ratio: 1 / 1;
  border: 0px transparent;
} .charsheet button[type="action"].train-skill {
  text-align: center;
  vertical-align: middle;
  height: 12px !important;
  width: 12px !important;
  line-height: 12px;
  font-family: var(--font-number);
  font-weight: bold;
  font-size: 10px;
  padding: 0px;
  margin: 0px;
  border-radius: 3px;
  border: 2px solid var(--skill-color);
  background: var(--skill-bg);
} .charsheet .hidden {
    display: none;
}

.charsheet label.header-label,
.charsheet label.attacks,
.charsheet label.action,
.charsheet label.equipment-slot {
  word-wrap: break-word;
  font-family: var(--font-text);
  font-size: 13px;
  color: var(--text-color); 
  margin: 3px;
  padding: 3px 0 0 0;
}

.charsheet label.description {
  flex-wrap: wrap;
  white-space: wrap;
  word-wrap: break-word;
  font-family: var(--font-text);
  font-weight: normal;
  color: var(--text-color); 
  margin: 3px;
  padding: 3px 0 0 0;
}

/* elements that need to look the same whether they're a label, input, select, or div */
.charsheet .ability-score {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  display: inline-block;
  text-align: center;
  margin: 1px 1px;
  width: 40px;
  height: auto;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 18px;
  color: var(--text-color);
  padding: 0px 3px;
  background-color: var(--input-bg);
  border-radius: 5px;
  border-bottom-right-radius: 10px;
  border: 3px solid var(--border-color);
} .charsheet .ability-mod {
  -webkit-box-sizing: border-box ;
  -moz-box-sizing: border-box ;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin: 1px 1px;
  height: 30px;
  aspect-ratio : 1 / 1;
  font-family: var(--font-number);
  font-weight: bold;
  font-size: 18px;
  padding: 0px 2px;
  border-radius: 50%;
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 2px solid var(--border-color);
}

.charsheet span.blockbox {
  display: inline-flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  height: 30px;
} .charsheet .bigbox {
  display: inline-block;
  text-align: center;
  margin: 1px 1px;
  width: 36px !important;
  height: auto;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 14px;
  color: var(--text-color);
  padding: 0px 2px;
  background-color: var(--input-bg);
  border-radius: 5px;
  border: 3px solid var(--border-color);
}

.charsheet .dv {
  display: inline-block;
  text-align: center;
  margin: 2px 4px;
  width: 25px;
  height: 20px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 14px;
  color: var(--text-color);
  padding: 0px 2px;
  border-top-left-radius: 50% 10%;
  border-top-right-radius: 50% 10%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border: 1px solid var(--save-color);
  background-color: var(--save-bg);
}

.charsheet input.weapon {
  text-align: left;
  margin: 1px 1px;
  width: 100%;
  height: 25px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 1px solid var(--border-color);
} .charsheet .weapon-accuracy, .charsheet .weapon-parry {
  -webkit-box-sizing: border-box ;
  -moz-box-sizing: border-box ;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin: 1px 1px;
  width: 25px;
  height: 25px;
  aspect-ratio : 1 / 1;
  font-family: var(--font-number);
  font-size: 14px;
  padding: 0px 2px;
  border-radius: 50%;
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 2px solid var(--border-color);
}

.charsheet input.hp {
  text-align: center;
  margin: 1px 1px;
  width: 25px;
  height: 18px;
  font-family: var(--font-number);
  font-size: 12px;
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 2px solid var(--border-color);
} .charsheet input.wounds {
  text-align: center;
  margin: 1px 1px;
  padding: 0px 2px;
  width: 20px;
  height: 18px;
  font-family: var(--font-number);
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 2px solid var(--border-color);
}

.charsheet .list-first {
  text-align: center;
  margin-bottom: 0px;
  height: 25px;
  color: var(--text-color);
  font-family: var(--font-text);
  font-weight: normal;
  background-color: var(--input-bg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 0px transparent;
}
.charsheet .list-middle {
  text-align: center;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 25px;
  font-family: var(--font-text);
  font-weight: normal;
  color: var(--text-color);
  background-color: var(--input-bg);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top: 1px dotted var(--disabled-color);
  border-bottom: 0px transparent;
}
.charsheet .list-last {
  text-align: center;
  vertical-align: middle;
  margin-top: 0px;
  height: 25px;
  color: var(--text-color);
  font-family: var(--font-text);
  font-weight: normal;
  background-color: var(--input-bg);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top: 1px dotted var(--disabled-color);
  border-bottom: 1px solid var(--border-color);
}

.charsheet textarea.fullsize {
  height: 99%;
  width: 97%;
  text-align: left;
  margin: 1px 1px;
  font-size: 12px;
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 1px solid var(--border-color);
  resize: none;
}

.charsheet input.round[type="checkbox"] {
  width: 35px;
  height: 25px;
  padding: 5px;
  background-color: var(--input-bg);
  border-radius: 50%;
  border: 2px solid var(--border-color);
  margin: 2px solid var(--input-bg);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}

.charsheet input.round:checked {
    background-color: var(--skill-color);
}

.charsheet button.defend {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border: 2px solid var(--save-color);
  background: var(--save-bg);
}
button.defend::before{
    text-align: center;
    vertical-align: middle;
    color: var(--save-color);
}

.charsheet button.opportunity-attack {
  border-radius: 7px;
  border: 2px solid var(--attack-color);
  background: var(--attack-bg);
}
button.opportunity-attack::before{
    text-align: center;
    vertical-align: middle;
    color: var(--attack-color);
}
.charsheet button.action {
  width: 60px;
  height: 15px;
  padding: 1px 2px;
  margin: 2px 4px;
  border-radius: 8px;
  border: 2px solid var(--skill-color);
  background: var(--skill-bg);
}

.charsheet button.reaction {
    display: inline-block;
    width: 24px;
    height: 21px;
    margin: 2px 4px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}
.charsheet button.reaction::before {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

.charsheet input[type="number"]{
  text-align: right;
/*  margin: 2px 4px;*/
}

.charsheet input[type="text"]{
/*  margin: 2px 4px;
  border: 1px solid var(--border-color);*/
}

.charsheet input.red {
  border-color: red;
}
.charsheet input.blue {
  border-color: blue;
}
.charsheet input.green {
  border-color: green;
}
.charsheet input.alt {
  background-color: var(--alt-bg);
  border-color: var(--alt-color);
}

/*---------------------=========== dynamic element control =========------------------------*/
/* show the selected archetype and style the active button */
.charsheet input.situation-toggle { display: none; }
.charsheet .situation-toggle:not([value="travel"]) ~ div .panel-travel,
.charsheet .situation-toggle:not([value="explore"]) ~ div .panel-explore,
.charsheet .situation-toggle:not([value="fight"]) ~ div .panel-fight, 
.charsheet .situation-toggle:not([value="prepare"]) ~ div .panel-prepare{
    display: none !important;
}
.charsheet .situation-toggle[value="travel"] ~ div button.tab-travel,
.charsheet .situation-toggle[value="explore"] ~ div button.tab-explore,
.charsheet .situation-toggle[value="fight"] ~ div button.tab-fight,
.charsheet .situation-toggle[value="prepare"] ~ div button.tab-prepare{
  font-weight: bold;
  background-color: var(--page-bg);
  border-bottom: 3px solid var(--page-bg);
}

.charsheet input.action-toggle { display: none; }
.charsheet .action-toggle:not([value="attack"]) ~ div .panel-attack,
.charsheet .action-toggle:not([value="move"]) ~ div .panel-move,
.charsheet .action-toggle:not([value="defend"]) ~ div .panel-defend,
.charsheet .action-toggle:not([value="react"]) ~ div .panel-react,
.charsheet .action-toggle:not([value="feat"]) ~ div .panel-feat{
    display: none !important; 
}
.charsheet .action-toggle[value="attack"] ~ div button.tab-attack,
.charsheet .action-toggle[value="move"] ~ div button.tab-move,
.charsheet .action-toggle[value="defend"] ~ div button.tab-defend,
.charsheet .action-toggle[value="react"] ~ div button.tab-react,
.charsheet .action-toggle[value="feat"] ~ div button.tab-feat{
  font-weight: bold;
  background-color: var(--page-bg);
  border-bottom: 3px solid var(--page-bg);
}

/*--------------------- Level-Specific Elements --------------------*/
.charsheet input.power-max { display: none; }
.charsheet input.power-max[value="0"] ~ div.show-power,
.charsheet input.power-max[value="0"] ~ div .show-power{
  display: none !important;    
}

.charsheet input.character-level { display: none; }
.charsheet input.character-level[value="1"] ~ div .show-l2,
.charsheet input.character-level[value="1"] ~ div .show-l3,
.charsheet input.character-level[value="1"] ~ div .show-l4,
.charsheet input.character-level[value="1"] ~ div .show-l5,
.charsheet input.character-level[value="1"] ~ div .show-l6,
.charsheet input.character-level[value="1"] ~ div .show-l7,
.charsheet input.character-level[value="1"] ~ div .show-l8,
.charsheet input.character-level[value="1"] ~ div .show-l9,
.charsheet input.character-level[value="1"] ~ div .show-l10,
.charsheet input.character-level[value="2"] ~ div .show-l3,
.charsheet input.character-level[value="2"] ~ div .show-l4,
.charsheet input.character-level[value="2"] ~ div .show-l5,
.charsheet input.character-level[value="2"] ~ div .show-l6,
.charsheet input.character-level[value="2"] ~ div .show-l7,
.charsheet input.character-level[value="2"] ~ div .show-l8,
.charsheet input.character-level[value="2"] ~ div .show-l9,
.charsheet input.character-level[value="2"] ~ div .show-l10,
.charsheet input.character-level[value="3"] ~ div .show-l4,
.charsheet input.character-level[value="3"] ~ div .show-l5,
.charsheet input.character-level[value="3"] ~ div .show-l6,
.charsheet input.character-level[value="3"] ~ div .show-l7,
.charsheet input.character-level[value="3"] ~ div .show-l8,
.charsheet input.character-level[value="3"] ~ div .show-l9,
.charsheet input.character-level[value="3"] ~ div .show-l10,
.charsheet input.character-level[value="4"] ~ div .show-l5,
.charsheet input.character-level[value="4"] ~ div .show-l6,
.charsheet input.character-level[value="4"] ~ div .show-l7,
.charsheet input.character-level[value="4"] ~ div .show-l8,
.charsheet input.character-level[value="4"] ~ div .show-l9,
.charsheet input.character-level[value="4"] ~ div .show-l10,
.charsheet input.character-level[value="5"] ~ div .show-l6,
.charsheet input.character-level[value="5"] ~ div .show-l7,
.charsheet input.character-level[value="5"] ~ div .show-l8,
.charsheet input.character-level[value="5"] ~ div .show-l9,
.charsheet input.character-level[value="5"] ~ div .show-l10,
.charsheet input.character-level[value="6"] ~ div .show-l7,
.charsheet input.character-level[value="6"] ~ div .show-l8,
.charsheet input.character-level[value="6"] ~ div .show-l9,
.charsheet input.character-level[value="6"] ~ div .show-l10,
.charsheet input.character-level[value="7"] ~ div .show-l8,
.charsheet input.character-level[value="7"] ~ div .show-l9,
.charsheet input.character-level[value="7"] ~ div .show-l10,
.charsheet input.character-level[value="8"] ~ div .show-l9,
.charsheet input.character-level[value="8"] ~ div .show-l10,    
.charsheet input.character-level[value="9"] ~ div .show-l10{
  display: none !important;
}
.charsheet input.character-level[value="1"] ~ div .req-l2,
.charsheet input.character-level[value="1"] ~ div .req-l3,
.charsheet input.character-level[value="1"] ~ div .req-l4,
.charsheet input.character-level[value="1"] ~ div .req-l5,
.charsheet input.character-level[value="1"] ~ div .req-l6,
.charsheet input.character-level[value="1"] ~ div .req-l7,
.charsheet input.character-level[value="1"] ~ div .req-l8,
.charsheet input.character-level[value="1"] ~ div .req-l9,
.charsheet input.character-level[value="1"] ~ div .req-l10,
.charsheet input.character-level[value="2"] ~ div .req-l3,
.charsheet input.character-level[value="2"] ~ div .req-l4,
.charsheet input.character-level[value="2"] ~ div .req-l5,
.charsheet input.character-level[value="2"] ~ div .req-l6,
.charsheet input.character-level[value="2"] ~ div .req-l7,
.charsheet input.character-level[value="2"] ~ div .req-l8,
.charsheet input.character-level[value="2"] ~ div .req-l9,
.charsheet input.character-level[value="2"] ~ div .req-l10,
.charsheet input.character-level[value="3"] ~ div .req-l4,
.charsheet input.character-level[value="3"] ~ div .req-l5,
.charsheet input.character-level[value="3"] ~ div .req-l6,
.charsheet input.character-level[value="3"] ~ div .req-l7,
.charsheet input.character-level[value="3"] ~ div .req-l8,
.charsheet input.character-level[value="3"] ~ div .req-l9,
.charsheet input.character-level[value="3"] ~ div .req-l10,
.charsheet input.character-level[value="4"] ~ div .req-l5,
.charsheet input.character-level[value="4"] ~ div .req-l6,
.charsheet input.character-level[value="4"] ~ div .req-l7,
.charsheet input.character-level[value="4"] ~ div .req-l8,
.charsheet input.character-level[value="4"] ~ div .req-l9,
.charsheet input.character-level[value="4"] ~ div .req-l10,
.charsheet input.character-level[value="5"] ~ div .req-l6,
.charsheet input.character-level[value="5"] ~ div .req-l7,
.charsheet input.character-level[value="5"] ~ div .req-l8,
.charsheet input.character-level[value="5"] ~ div .req-l9,
.charsheet input.character-level[value="5"] ~ div .req-l10,
.charsheet input.character-level[value="6"] ~ div .req-l7,
.charsheet input.character-level[value="6"] ~ div .req-l8,
.charsheet input.character-level[value="6"] ~ div .req-l9,
.charsheet input.character-level[value="6"] ~ div .req-l10,
.charsheet input.character-level[value="7"] ~ div .req-l8,
.charsheet input.character-level[value="7"] ~ div .req-l9,
.charsheet input.character-level[value="7"] ~ div .req-l10,
.charsheet input.character-level[value="8"] ~ div .req-l9,
.charsheet input.character-level[value="8"] ~ div .req-l10,    
.charsheet input.character-level[value="9"] ~ div .req-l10{
  color:            var(--disabled-color);
  background-color: var(--disabled-bg);
}

span.character-class,
div.ability-score { 
    display: inline-block !important; 
}
.charsheet input.character-level[value="0"] ~ span.character-class,
.charsheet input.character-level[value="0"] ~ div.ability-score{ 
    display: none !important; 
}
select.character-class,
select.ability-score { 
    display: none !important; 
}
.charsheet input.character-level[value="0"] ~ select.character-class,
.charsheet input.character-level[value="0"] ~ select.ability-score{ 
    display: inline-block !important;
    border-color:   var(--save-color);
}

.charsheet input.athlete-feat-toggle { display: none; }
.charsheet input.athlete-feat-toggle[value*="warrior-2"] ~ div.jump,
.charsheet input.athlete-feat-toggle[value*="warrior-2"] ~ hr.jump,
.charsheet input.athlete-feat-toggle[value*="warrior-2"] ~ div.climb,
.charsheet input.athlete-feat-toggle[value*="warrior-2"] ~ hr.climb,
.charsheet input.athlete-feat-toggle[value*="warrior-2"] ~ div.swim,
.charsheet input.athlete-feat-toggle[value*="warrior-2"] ~ hr.swim,
.charsheet div.athlete { display: none; }
.charsheet input.athlete-feat-toggle[value*="warrior-2"] ~ div.athlete { 
    display: flex;
}

.charsheet input.deflect-feat-toggle { display: none; }
.charsheet input.deflect-feat-toggle[value*="martial-artist-6"] ~ div.dodge,
.charsheet input.deflect-feat-toggle[value*="martial-artist-6"] ~ div.parry,
.charsheet div.deflect { display: none; }
.charsheet input.deflect-feat-toggle[value*="martial-artist-6"] ~ div.deflect { 
    display: flex;
}

.charsheet input.elusive-feat-toggle { display: none; }
.charsheet input.elusive-feat-toggle[value*="thief-2"] ~ div.evade,
.charsheet div.elusive { display: none; }
.charsheet input.elusive-feat-toggle[value*="thief-2"] ~ div.elusive { 
    display: flex;
}

.charsheet button.proficiency,
.charsheet button.reaction {
    line-height: 12px;
}

.charsheet .die-controller[value=""] ~ button.proficiency::before,
.charsheet .die-controller[value=""] ~ button.reaction::before,
.charsheet .die-controller:not([value]) ~ button.proficiency::before,
.charsheet .die-controller:not([value]) ~ button.reaction::before {
    font-family: 'dicefontd20';
    font-size: 20px;
    content: '0 ';
    line-height: 10px;
}.charsheet .die-controller[value="d4"] ~ button.proficiency::before,
.charsheet .die-controller[value="d4"] ~ button.reaction::before{
    font-family: 'dicefontd4';
    font-size: 24px;
    content: 'L ';
    line-height: 12px;
}.charsheet .die-controller[value="d6"] ~ button.proficiency::before,
.charsheet .die-controller[value="d6"] ~ button.reaction::before{
    font-family: 'dicefontd6';
    font-size: 24px;
    content: 'F ';
    line-height: 12px;
}.charsheet .die-controller[value="d8"] ~ button.proficiency::before,
.charsheet .die-controller[value="d8"] ~ button.reaction::before{
    font-family: 'dicefontd8';
    font-size: 24px;
    content: 'H ';
    line-height: 12px;
}.charsheet .die-controller[value="d10"] ~ button.proficiency::before,
.charsheet .die-controller[value="d10"] ~ button.reaction::before{
    font-family: 'dicefontd10';
    font-size: 24px;
    content: 'K ';
    line-height: 12px;
}.charsheet .die-controller[value="d12"] ~ button.proficiency::before,
.charsheet .die-controller[value="d12"] ~ button.reaction::before{
    font-family: 'dicefontd12';
    font-size: 24px;
    content: 'L ';
    line-height: 12px;
}


/*--------------------- Switch Between Sheet Types --------------------*/
.charsheet input.sheet-type { display: none; }
.charsheet main.character,
.charsheet main.party {
   display: none;
} 
.charsheet .sheet-type[value="Character"] ~ main.character,
.charsheet .sheet-type[value="Party"] ~ main.party {
   display: grid;
}
.charsheet .hidden {
   display: none !important;
   pointer-events: none !important;
}

.charsheet section.party-header {
  grid-area: phd;
  flex-direction: row;
  white-space: pre nowrap;
  background-color: var(--header-bg);
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border: 2px solid var(--border-color);
}
.charsheet section.party {
  grid-area: man;
  background-color: var(--page-bg);
  border-left: 1px solid var(--separator-color);
  border-right: 2px solid var(--border-color);
  border-top: 0px transparent;
  border-bottom: 0px transparent;
}
.charsheet section.party-desc {
  grid-area: dsc;
  background-color: var(--page-bg);
  border-left: 2px solid var(--border-color);
  border-right: 0px transparent;
  border-top: 0px transparent;
  border-bottom: 0px transparent;
  padding: 0px !important;
}

 div.party-line {
  display: flex;
  flex-direction: row;
  width:  100%;
  height: 30px;
  border-bottom: 1px --var("separator-color");
 }

 button.party-char-name {
  width: 240px;
  padding: 1px 2px;
  margin: 2px 4px;
  border-radius: 8px;
  border: 2px solid var(--skill-color);
  background: var(--skill-bg);
  font-family: var(--font-text);
  font-size: 15px;
  color: var(--text-color); 
 }

 label.party-char-ask {
  width: 160px;
  font-family: var(--font-text);
  font-size: 15px;
  color: var(--text-color); 
  margin: 3px;
  padding: 3px 0 0 0;     
 }

 select.party-char-skill {
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  width: 160px;
  height: 25px;
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 1px solid var(--border-color);
}

input.party-char-dv {
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  width: 160px;
  height: 25px;
  color: var(--text-color);
  background-color: var(--input-bg);
  border: 1px solid var(--border-color);
}

 label.party-char-vs {
  text-align: center;
  font-family: var(--font-text);
  font-size: 15px;
  width: 25px;
  color: var(--text-color); 
  margin: 3px;
  padding: 3px 0 0 0;     
 }
 
 label.party-char-done {
  display: inline-block;
  font-family: var(--font-text);
  width: 75px;
  font-size: 15px;
  color: var(--text-color); 
  margin: 3px;
  padding: 3px 0 0 0;     
 }


/*------------------------------------*\
  #ROLL TEMPLATES
\*------------------------------------*/

/* SKILL ROLLS */

.sheet-rolltemplate-rolls,
.sheet-rolltemplate-skills,
.sheet-rolltemplate-reactions,
.sheet-rolltemplate-attacks {
  font-family: var(font-number);
}
.sheet-rolltemplate-rolls .sheet-container,
.sheet-rolltemplate-skills .sheet-container,
.sheet-rolltemplate-reactions .sheet-container,
.sheet-rolltemplate-attacks .sheet-container {
  border: 3px solid black;
  border-radius: 3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.sheet-rolltemplate-rolls .sheet-header,
.sheet-rolltemplate-skills .sheet-header,
.sheet-rolltemplate-reactions .sheet-header,
.sheet-rolltemplate-attacks .sheet-header {
  background: var(--header-bg-dark);
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  font-family: var(--font-number);
  text-align: center;
  text-transform: capitalize;
  padding: 5px;
  border-bottom: 2px solid black;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.sheet-rolltemplate-skills .sheet-header { background-color: var(--skill-bg-dark); }
.sheet-rolltemplate-saves .sheet-header { background-color: var(--save-bg-dark); }
.sheet-rolltemplate-reactions .sheet-header { background-color: var(--save-bg-dark); }
.sheet-rolltemplate-attacks .sheet-header { background-color: var(--attack-bg-dark); }

.sheet-rolltemplate-rolls .sheet-name,
.sheet-rolltemplate-skills .sheet-name,
.sheet-rolltemplate-reactions .sheet-name,
.sheet-rolltemplate-attacks .sheet-name {
  font-family: var(--font-number);
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: bold;
}
.sheet-rolltemplate-rolls .sheet-title,
.sheet-rolltemplate-skills .sheet-title,
.sheet-rolltemplate-reactions .sheet-title,
.sheet-rolltemplate-attacks .sheet-title {
  font-family: var(--font-number);
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: bold;
}

.sheet-rolltemplate-skills .sheet-title span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-title span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-title span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-title span.inlinerollresult {
  pointer-events: none;
  background: none;
  border: 0px transparent;
}
.sheet-rolltemplate-rolls .sheet-content,
.sheet-rolltemplate-skills .sheet-content,
.sheet-rolltemplate-reactions .sheet-content,
.sheet-rolltemplate-attacks .sheet-content {
  font-family: var(--font-number);
  display: grid;
  background: var(--input-bg);
;
  grid-template-columns: auto auto;
  font-size: 1.0em;
  line-height: 1.2em;
}
.sheet-rolltemplate-rolls .sheet-content > div,
.sheet-rolltemplate-skills .sheet-content > div,
.sheet-rolltemplate-reactions .sheet-content > div,
.sheet-rolltemplate-attacks .sheet-content > div {
  font-family: var(--font-number);
  padding: 5px;
}
.sheet-rolltemplate-rolls .sheet-content .sheet-key,
.sheet-rolltemplate-skills .sheet-content .sheet-key,
.sheet-rolltemplate-reactions .sheet-content .sheet-key,
.sheet-rolltemplate-attacks .sheet-content .sheet-key {
  font-family: var(--font-number);
  font-weight: bold;
  font-size: 1.0em;
  line-height: 1.2em;
  padding-right: 10px;
  text-align: right;
}
.sheet-rolltemplate-rolls .sheet-content .sheet-value,
.sheet-rolltemplate-skills .sheet-content .sheet-value,
.sheet-rolltemplate-reactions .sheet-content .sheet-value,
.sheet-rolltemplate-attacks .sheet-content .sheet-value {
  font-family: var(--font-number);
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.2em;
  text-align: center;
}

.sheet-rolltemplate-rolls .sheet-content .sheet-fullwidth,
.sheet-rolltemplate-skills .sheet-content .sheet-fullwidth,
.sheet-rolltemplate-reactions .sheet-content .sheet-fullwidth,
.sheet-rolltemplate-attacks .sheet-content .sheet-fullwidth {
  grid-column: 1 / span 2;
  text-align: center;
  padding: 2px 0px;
  border-bottom: 1px dotted var(--disabled-bg);
}


.sheet-rolltemplate-rolls .sheet-info,
.sheet-rolltemplate-skills .sheet-info,
.sheet-rolltemplate-reactions .sheet-info,
.sheet-rolltemplate-attacks .sheet-info {
  width: 100%;
  display: flex;
  text-align: center;
  font-family: var(--font-number);
  font-weight: bold;
  font-size: 1.0em;
  line-height: 1.2em;
  background: var(--input-bg);
}

.sheet-rolltemplate-rolls .sheet-desc,
.sheet-rolltemplate-skills .sheet-desc,
.sheet-rolltemplate-reactions .sheet-desc,
.sheet-rolltemplate-attacks .sheet-desc {
  width: 100%;
  display: flex;
  text-align: left;
  font-family: var(--font-text);
  font-size: 1.0em;
  line-height: 1.2em;
  background: var(--input-bg);
}


.sheet-rolltemplate-rolls .sheet-content .sheet-key.sheet-green-bg,
.sheet-rolltemplate-skills .sheet-content .sheet-key.sheet-green-bg,
.sheet-rolltemplate-reactions .sheet-content .sheet-key.sheet-green-bg,
.sheet-rolltemplate-attacks .sheet-content .sheet-key.sheet-green-bg,
.sheet-rolltemplate-rolls .sheet-content .sheet-value.sheet-green-bg,
.sheet-rolltemplate-skills .sheet-content .sheet-value.sheet-green-bg,
.sheet-rolltemplate-reactions .sheet-content .sheet-value.sheet-green-bg,
.sheet-rolltemplate-attacks .sheet-content .sheet-value.sheet-green-bg {
  background: var(--skill-bg);
}

.sheet-rolltemplate-rolls .sheet-content .sheet-key.sheet-red-bg,
.sheet-rolltemplate-skills .sheet-content .sheet-key.sheet-red-bg,
.sheet-rolltemplate-reactions .sheet-content .sheet-key.sheet-red-bg,
.sheet-rolltemplate-attacks .sheet-content .sheet-key.sheet-red-bg,
.sheet-rolltemplate-rolls .sheet-content .sheet-value.sheet-red-bg,
.sheet-rolltemplate-skills .sheet-content .sheet-value.sheet-red-bg,
.sheet-rolltemplate-reactions .sheet-content .sheet-value.sheet-red-bg,
.sheet-rolltemplate-attacks .sheet-content .sheet-value.sheet-red-bg {
  background: var(--attack-bg);
}

.sheet-rolltemplate-rolls .sheet-content span.inlinerollresult,
.sheet-rolltemplate-skills .sheet-content span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-content span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-content span.inlinerollresult {
    border-radius: 10px;
    border: 1px solid black;
}

.sheet-rolltemplate-rolls .sheet-info span.inlinerollresult,
.sheet-rolltemplate-skills .sheet-info span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-info span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-info span.inlinerollresult {
    width: 100%;
    border-top: 1px solid black;
    line-height: 1.3em;
}

.sheet-rolltemplate-skills .sheet-notip span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-notip span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-notip span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-notip span.inlinerollresult {
    pointer-events: none;
}
.sheet-rolltemplate-skills .sheet-d4 span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-d4 span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-d4 span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-d4 span.inlinerollresult {
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  font-family: 'dicefontd4';
  font-style: bold;
  font-size: 3.5em;
  line-height: 1.1em;
  color: var(--text-color);
  background: none;
  border: 0px transparent;
}
.sheet-rolltemplate-skills .sheet-d6 span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-d6 span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-d6 span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-d6 span.inlinerollresult {
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  font-family: 'dicefontd6';
  font-style: bold;
  font-size: 3.5em;
  line-height: 1.1em;
  color: var(--text-color);
  background: none;
  border: 0px transparent;
}
.sheet-rolltemplate-skills .sheet-d8 span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-d8 span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-d8 span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-d8 span.inlinerollresult {
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  font-family: 'dicefontd8';
  font-style: bold;
  font-size: 3.5em;
  line-height: 1.1em;
  color: var(--text-color);
  background: none;
  border: 0px transparent;
}
.sheet-rolltemplate-skills .sheet-d10 span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-d10 span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-d10 span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-d10 span.inlinerollresult {
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  font-family: 'dicefontd10';
  font-style: bold;
  font-size: 3.5em;
  line-height: 1.1em;
  color: var(--text-color);
  background: none;
  border: 0px transparent;
}
.sheet-rolltemplate-skills .sheet-d12 span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-d12 span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-d12 span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-d12 span.inlinerollresult {
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  font-family: 'dicefontd12';
  font-style: bold;
  font-size: 3.5em;
  line-height: 1.1em;
  color: var(--text-color);
  background: none;
  border: 0px transparent;
}
.sheet-rolltemplate-skills .sheet-d20 span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-d20 span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-d20 span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-d20 span.inlinerollresult {
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  font-family: 'dicefontd20';
  font-style: bold;
  font-size: 3.5em;
  line-height: 1.1em;
  color: var(--text-color);
  background: none;
  border: 0px transparent;
}

.sheet-rolltemplate-skills .sheet-smalldice span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-smalldice span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-smalldice span.inlinerollresult {
  font-size: 2.0em;
}

.sheet-rolltemplate-skills .sheet-reddice span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-reddice span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-reddice span.inlinerollresult {
  color: var(--attack-color);
}

.sheet-rolltemplate-skills .sheet-bluedice span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-bluedice span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-bluedice span.inlinerollresult {
  color: var(--save-color);
}

.sheet-rolltemplate-skills .sheet-greendice span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-greendice span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-greendice span.inlinerollresult {
  color: var(--skill-color);
}

.sheet-rolltemplate-skills .sheet-greydice span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-greydice span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-greydice span.inlinerollresult {
  color: var(--disabled-color);
}

.sheet-rolltemplate-rolls .sheet-big span.inlinerollresult,
.sheet-rolltemplate-skills .sheet-big span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-big span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-big span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-big span.inlinerollresult {
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  aspect-ratio: 1 / 1;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 2.0em;
  line-height: 1.1em;
  color: var(--text-color);
  border-radius: 15px;
  border: 2px solid black;
}

.sheet-rolltemplate-rolls .sheet-small span.inlinerollresult,
.sheet-rolltemplate-skills .sheet-small span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-small span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-small span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-small span.inlinerollresult {
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  aspect-ratio: 1 / 1;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 1.0em;
  line-height: 1.1em;
  color: var(--text-color);
  border-radius: 10px;
  border: 2px solid black;
}
.sheet-rolltemplate-rolls .sheet-green span.inlinerollresult,
.sheet-rolltemplate-skills .sheet-green span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-green span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-green span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-green span.inlinerollresult {
  color: var(--skill-color);
  background-color: var(--skill-bg);
  border: 2px solid var(--skill-color);
}

.sheet-rolltemplate-rolls .sheet-red span.inlinerollresult,
.sheet-rolltemplate-skills .sheet-red span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-red span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-red span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-red span.inlinerollresult {
  color: var(--attack-color);
  background-color: var(--attack-bg);
  border: 2px solid var(--attack-color);
}

.sheet-rolltemplate-rolls .sheet-black span.inlinerollresult,
.sheet-rolltemplate-skills .sheet-black span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-black span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-black span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-black span.inlinerollresult {
  color: var(--input-bg);
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
}

.sheet-rolltemplate-rolls .sheet-grey span.inlinerollresult,
.sheet-rolltemplate-skills .sheet-grey span.inlinerollresult,
.sheet-rolltemplate-saves .sheet-grey span.inlinerollresult,
.sheet-rolltemplate-reactions .sheet-grey span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-grey span.inlinerollresult {
  color: var(--input-bg);
  background-color: var(--disabled-color);
  border: 2px solid var(--disabled-color);
}

.sheet-rolltemplate-reactions .sheet-dv-med span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-dv-med span.inlinerollresult {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  width: 26px;
  height: 27px;
  padding: 4px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 1.2em;
  color: var(--input-bg);
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  border-top-left-radius: 50% 15%;
  border-top-right-radius: 50% 15%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border: 3px solid var(--text-color);
  background-color: var(--text-color);
}

.sheet-rolltemplate-reactions .sheet-dv-big span.inlinerollresult,
.sheet-rolltemplate-attacks .sheet-dv-big span.inlinerollresult {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 1px 1px;
  width: 30x;
  height: 30px;
  padding: 4px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 1.5em;
  color: var(--input-bg);
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  border-top-left-radius: 50% 15%;
  border-top-right-radius: 50% 15%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border: 2px solid var(--border-color);
  background-color: var(--save-color);
}

