@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

/*----------------- Main Layout ------------------*/

/* A CSS Grid example using "grid-template-areas"
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
*/
main {
  display: grid;
  width:  720px;
  height: 900px;
  grid-gap: 0px;
  grid-template-columns: 200px 200px 320px;
  grid-template-rows: 70px 180px 180px 180px 300px 20px;
  grid-template-areas:"hdr hdr lvl"
                      "str int act"
                      "dex wis act"
                      "con cha act"
                      "eqp eqp fea"
                      "ftr ftr ftr";
}
.charsheet select.character-class {
  width: 250px;
}
.charsheet input.list-first,
.charsheet input.list-middle,
.charsheet input.list-last{
  width: 240px;
}
.charsheet input.damage{
   width: 225px;
}
.charsheet input.armor{
   width: 175px;
}
@media only screen and (max-width: 800px) {
 main {
  display: grid;
  width:  480px;
  height: 1230px;
  grid-gap: 0px;
  grid-template-columns: 200px 280px;
  grid-template-rows: 70px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 20px;
  grid-template-areas:"lvl lvl"
                      "str act"
                      "str act"
                      "str act"
                      "dex act"
                      "dex act"
                      "dex act"
                      "con act"
                      "con act"
                      "con eqp"
                      "int eqp"
                      "int eqp"
                      "int eqp"
                      "wis eqp"
                      "wis fea"
                      "wis fea"
                      "cha fea"
                      "cha fea"
                      "cha fea"
                      "ftr ftr";

     
 }
 .charsheet select.character-class {
  width: 410px;
 }
 .charsheet input.list-first,
 .charsheet input.list-middle,
 .charsheet input.list-last{
  width: 200px;
 }
 .charsheet input.damage{
   width: 180px;
 }
 .charsheet input.armor{
   width: 150px;
 }
 .head {
     display: none;
 }
}

@media only screen and (max-width: 500px) {
 main {
  display: grid;
  width:  250px;
  height: 2000px;
  grid-gap: 0px;
  grid-template-columns: 250px;
  grid-template-rows: 70px 540px 160px 145px 145px 170px 170px 145px 295px 300px 20px;
  grid-template-areas:"lvl"
                      "act"
                      "str"
                      "dex"
                      "con"
                      "int"
                      "wis"
                      "cha"
                      "eqp"
                      "fea"
                      "ftr";

     
 }
 .charsheet select.character-class {
  width: 180px;
 }
 .charsheet input.list-first,
 .charsheet input.list-middle,
 .charsheet input.list-last{
  width: 180px;
 }
 .charsheet input.damage{
   width: 150px;
 }
 .charsheet input.armor{
   width: 120px;
 }
 .head {
     display: none;
 }
}
/*----------------- GENERAL CSS ------------------*/
:root {
  --header: #e0c0a0;
  --page: #fff0e0; 
  --separator: #c0a080;
  --border: black; 
  --input: white;
  --text: black;
  --alt-color: teal;
  --save-color: blue;
  --skill-color: green;
  --attack-color: red;
  --disabled-color: gray;
  --alt-bg: #e0faff;
  --save-bg: #e0f0ff;
  --skill-bg: #e0fff0;
  --attack-bg: #ffe0f0;
  --disabled-bg: #c0c0c0;
  --font-text: "Libre Baskerville";
  --font-number: "Arial";
}

.charsheet * {
  font-family: var(--font-text);
}

.charsheet button[type="roll"] {
  display: inline-block;
  /*all: initial;*/
}

.charsheet select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

section {
    padding: 5px;
    border-style: solid; 
}


/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  display: flex; 
  flex-wrap: nowrap;
  white-space: nowrap;
}
.flush {
  height: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.f-center {
  align-items: center;
  justify-content: center;
}
.f-right {
  align-items: right;
  justify-content: right;
}

/*------------- Section-specific CSS -------------*/

.head {
  grid-area: hdr;
  background-color: var(--header);
  border-top: 2px solid var(--border);
  border-bottom: 2px solid var(--border);
  border-left: 0px transparent;
  border-right: 0px transparent;
}

.builder {
  grid-area: bld;
  background-color: var(--header);
  border-top: 2px solid var(--border);
  border-bottom: 2px solid var(--border);
  border-left: 0px transparent;
  border-right: 0px transparent;
  display: none;
}

.level {
  grid-area: lvl;
  flex-direction: row;
  white-space: pre nowrap;
  background-color: var(--header);
  border-top-right-radius: 50px;
  border-top: 2px solid var(--border);
  border-bottom: 2px solid var(--border);
  border-right: 2px solid var(--border);
  border-left: 0px transparent;
}

.actions {
  grid-area: act;
  background-color: var(--page);
  border: 1px solid var(--separator);
}

.str {
  grid-area: str;
  background-color: var(--page);
  border: 1px solid var(--separator);
}
.dex {
  grid-area: dex;
  background-color: var(--page);
  border: 1px solid var(--separator);
}
.con {
  grid-area: con;
  background-color: var(--page);
  border: 1px solid var(--separator);
}
.int {
  grid-area: int;
  background-color: var(--page);
  border: 1px solid var(--separator);
}
.wis {
  grid-area: wis;
  background-color: var(--page);
  border: 1px solid var(--separator);
}
.cha {
  grid-area: cha;
  background-color: var(--page);
  border: 1px solid var(--separator);
}

.feats {
  grid-area: fea;
  background-color: var(--page);
  border: 1px solid var(--separator);
}

.power .repcontainer[data-groupname="repeating_power"]{
  padding-bottom: 0.2em;
}

.power .repcontainer[data-groupname="repeating_power"] .repitem{
  margin: 4px 0px;
}

.equipment {
  grid-area: eqp;
  background-color: var(--page);
  border: 1px solid var(--separator);
}

.inventory {
  grid-area: inv;
  background-color: var(--page);
  border: 1px solid var(--separator);
  display: none;
}

footer {
  grid-area: ftr;
  background-color: var(--header);
  border: 2px solid var(--border);
}

/*--------------------- Tabbed Panels --------------------*/
.charsheet div.actionPanel {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.charsheet div.panelHeader {
  height: 20px;
  padding-top: 1px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid var(--separator);
  z-index: 1;
}

.charsheet button.tab-travel,
.charsheet button.tab-explore,
.charsheet button.tab-fight{
  width: 60px;
  height: 15px;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -1px;
  color: var(--text);
  background-color: var(--page);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-top: 2px solid var(--separator);
  border-left: 2px solid var(--separator);
  border-right: 2px solid var(--separator);
  border-bottom: 1px solid var(--separator);
  z-index: 2;
}

.charsheet button.tab-attack,
.charsheet button.tab-move,
.charsheet button.tab-defend,
.charsheet button.tab-react{
  width: 50px;
  height: 15px;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -1px;
  color: var(--text);
  background-color: var(--page);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-top: 2px solid var(--separator);
  border-left: 2px solid var(--separator);
  border-right: 2px solid var(--separator);
  border-bottom: 1px solid var(--separator);
  z-index: 2;
}

.charsheet div.panel-travel,
.charsheet div.panel-explore,
.charsheet div.panel-fight,
.charsheet div.panel-attack,
.charsheet div.panel-move,
.charsheet div.panel-defend,
.charsheet div.panel-react {
  margin-top: 1px;
}

/* show the selected archetype and style the active button */
.charsheet input.situation-toggle { display: none; }
.charsheet .situation-toggle:not([value="travel"]) ~ div .panel-travel,
.charsheet .situation-toggle:not([value="explore"]) ~ div .panel-explore,
.charsheet .situation-toggle:not([value="fight"]) ~ div .panel-fight {
    display: none !important; /* We usually want to avoid !important, but when we are making something that is meant to override all other behavior it is very useful */
}
.charsheet .situation-toggle[value="travel"] ~ div button.tab-travel,
.charsheet .situation-toggle[value="explore"] ~ div button.tab-explore,
.charsheet .situation-toggle[value="fight"] ~ div button.tab-fight {
  border-bottom: 3px solid var(--page);
}

.charsheet input.action-toggle { display: none; }
.charsheet .action-toggle:not([value="attack"]) ~ div .panel-attack,
.charsheet .action-toggle:not([value="move"]) ~ div .panel-move,
.charsheet .action-toggle:not([value="defend"]) ~ div .panel-defend,
.charsheet .action-toggle:not([value="react"]) ~ div .panel-react {
    display: none !important; /* We usually want to avoid !important, but when we are making something that is meant to override all other behavior it is very useful */
}
.charsheet .action-toggle[value="attack"] ~ div button.tab-attack,
.charsheet .action-toggle[value="move"] ~ div button.tab-move,
.charsheet .action-toggle[value="defend"] ~ div button.tab-defend,
.charsheet .action-toggle[value="react"] ~ div button.tab-react {
  border-bottom: 3px solid var(--page);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*----------------- Text & Input styling -----------------*/

/* these are for overwriting default CSS that comes from Roll20 */
.charsheet h3 {
  text-align: center;
}

.charsheet hr.space {
  width: 95%;
  height: 1px;
  margin: 1px;
  padding: 1px;
  border: 1px transparent;
  background-color: var(--page);
}

.charsheet hr.line {
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  border-top: 1px dotted var(--separator);
  background-color: var(--page);
}

.charsheet input.character-name {
  text-align: left;
  margin: 1px 1px;
  width: 320px;
  height: 25px;
  font-size: 16px;
  color: var(--text);
  background-color: var(--input);
  border: 1px solid var(--border);
}
.charsheet input.character-race {
  text-align: center;
  margin: 1px 1px;
  width: 120px;
  height: 25px;
  color: var(--text);
  background-color: var(--input);
  border: 1px solid var(--border);
}

.charsheet select.character-class {
  text-align: center;
  margin: 1px 1px;
  padding: 1px;
  height: 50px;
  line-height: 32px;
  color: var(--text);
  font-style: bold;
  font-size: 24px;
  background-color: var(--input);
  border: 3px solid var(--border);
}

.charsheet select.character-level {
  text-align: center;
  padding: 1px;
  padding-right: 10px;
  margin: 1px 1px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 30px;
  color: var(--text);
  background-color: var(--input);
  border-top-right-radius: 75%;
  border: 3px solid var(--border);
}

.charsheet span.rollbox {
  display: inline-flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  height: 25px;
}
.charsheet button[type="roll"].proficiency {
  margin: 0px;
  padding: 0px;
  width: 20px;
  height: auto; /*  should be 25px, no idea why it doesn't line up with input.skill's height */
  border: 2px solid var(--border);
  background: var(--header);

  border-right: 0px;    
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.charsheet button[type="roll"].skill {
  border: 2px solid var(--skill-color);
  border-right: 0px;    
  background: var(--skill-bg);
}
.charsheet button[type="roll"].save {
  border: 2px solid var(--save-color);
  border-right: 0px;    
  background: var(--save-bg);
}
.charsheet button[type="roll"].attack {
  border: 2px solid var(--attack-color);
  border-right: 0px;    
  background: var(--attack-bg);
}
.charsheet input.proficiency, select.proficiency {
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 30px;
  height: auto;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 14px;
  
  color: var(--text);
  background-color: var(--input);
  border: 2px solid var(--border);

  border-left: 1px solid var(--border);    
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.charsheet input.armor {
  text-align: center;
  margin: 1px 1px;
  height: 25px;
  color: var(--text);
  background-color: var(--input);
  border: 1px solid var(--border);
}

.charsheet button[type="roll"].damage {
  margin: 0px;
  padding: 0px;
  width: 20px;
  height: 17px; /*  should be 20px, no idea why it doesn't line up with input.skill's height */
  border: 2px solid var(--attack-color);
  background: var(--attack-bg);

  border-left: 0px;    
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.charsheet input.damage {
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 20px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 14px;
  
  color: var(--text);
  background-color: var(--input);
  border: 1px solid var(--border);

  border-right: 1px solid var(--border);    
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.charsheet label {
  margin: 3px;
  padding: 3px 0 0 0;
  color: var(--text); 
}
.charsheet label.ability {
  font-family: var(--font-text);
  font-size: 18px;
  font-style: bold;
  color: var(--text); 
}
.charsheet label.mod {
  font-size: 18px;
  color: var(--text); 
}
.charsheet label.save {
  font-family: var(--font-text);
  font-size: 16px;
  font-style: italic;
  color: var(--text); 
}
.charsheet label.skill,
.charsheet label.proficiency{
  font-family: var(--font-text);
  font-size: 15px;
  color: var(--text); 
}

.charsheet label.action {
  word-wrap: break-word;
  font-family: var(--font-text);
  font-size: 13px;
  color: var(--text); 
}
.charsheet label.description {
  flex-wrap: wrap;
  white-space: wrap;
  word-wrap: break-word;
  font-family: var(--font-text);
  font-size: 12px;
  font-weight: normal;
  color: var(--text); 
}
.charsheet label.attack {
  font-family: var(--font-text);
  font-size: 18px;
  font-style: bold;
  color: var(--text); 
}
.charsheet label.damage {
  font-family: var(--font-text);
  text-align: right;
  font-size: 13px;
  color: var(--text); 
}

.charsheet select.dropdown {
  margin: 1px 1px;
  height: 25px;
  background-color: var(--input);
  border: 1px solid var(--border);
}


.charsheet input[type="number"].ability {
  text-align: center;
  margin: 1px 1px;
  width: 50px;
  height: 30px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 18px;
  color: var(--text);
  padding: 0px 3px;
  background-color: var(--input);
  border-radius: 5px;
  border-bottom-right-radius: 10px;
  border: 3px solid var(--border);
}
.charsheet select.ability {
  text-align: center;
  margin: 1px 1px;
  width: 40px;
  height: 30px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 18px;
  color: var(--text);
  padding: 0px 3px;
  background-color: var(--input);
  border-radius: 5px;
  border-bottom-right-radius: 10px;
  border: 3px solid var(--border);
}
.charsheet input.bigbox {
  text-align: center;
  margin: 1px 1px;
  width: 36px;
  height: 30px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 14px;
  color: var(--text);
  padding: 0px 2px;
  background-color: var(--input);
  border-radius: 25%;
  border: 3px solid var(--border);
}

.charsheet input.defense {
  text-align: center;
  margin: 1px 1px;
  width: 30px;
  height: 30px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 14px;
  color: var(--text);
  padding: 0px 2px;
  background-color: var(--input);
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border: 3px solid var(--save-color);
  background-color: var(--save-bg);
}

.charsheet input.dv {
  text-align: center;
  margin: 2px 4px;
  width: 24px;
  height: 24px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 14px;
  color: var(--text);
  padding: 0px 2px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border: 1px solid var(--save-color);
  background-color: var(--save-bg);
}

.charsheet input.mod {
  text-align: center;
  margin: 1px 1px;
  width: 25px;
  height: 25px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 14px;
  padding: 0px 2px;
  border-radius: 50%;
  color: var(--text);
  background-color: var(--input);
  border: 2px solid var(--border);
}

.charsheet input.mod-lg {
  text-align: center;
  margin: 1px 1px;
  width: 30px;
  height: 30px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 16px;
  padding: 0px 2px;
  border-radius: 50%;
  color: var(--text);
  background-color: var(--input);
  border: 2px solid var(--border);
}

.charsheet input.weapon {
  text-align: left;
  margin: 1px 1px;
  width: 100%;
  height: 25px;
  font-size: 16px;
  color: var(--text);
  background-color: var(--input);
  border: 1px solid var(--border);
}

.charsheet input.save {
  text-align: center;
  margin: 1px 1px;
  width: 30px;
  height: 25px;
  font-family: var(--font-number);
  font-style: bold;
  font-size: 14px;
  padding: 0px 2px;
  color: var(--text);
  background-color: var(--input);
  border: 2px solid var(--border);
  border-radius: 25%;
}


.charsheet input.hp {
  text-align: center;
  margin: 1px 1px;
  width: 25px;
  height: 18px;
  font-family: var(--font-number);
  font-size: 12px;
  color: var(--text);
  background-color: var(--input);
  border: 2px solid var(--border);
}
.charsheet input.wounds {
  text-align: center;
  margin: 1px 1px;
  width: 20px;
  height: 18px;
  font-family: var(--font-number);
  color: var(--text);
  background-color: var(--input);
  border: 2px solid var(--border);
}
.charsheet input.conditions {
  text-align: center;
  margin: 1px 1px;
  width: 185px;
  height: 21px;
  color: var(--text);
  background-color: var(--input);
  border: 2px solid var(--border);
}

.charsheet input.list-first {
  text-align: center;
  margin-bottom: 0px;
  height: 25px;
  color: var(--text);
  background-color: var(--input);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-top: 1px solid var(--border);
  border-bottom: 1px dotted var(--border);
}
.charsheet  input.list-middle {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 25px;
  color: var(--text);
  background-color: var(--input);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-top: 0px transparent;
  border-bottom: 1px dotted var(--border);
}
.charsheet input.list-last {
  text-align: center;
  margin-top: 0px;
  height: 25px;
  color: var(--text);
  background-color: var(--input);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-top: 0px transparent;
  border-bottom: 1px solid var(--border);
}

/*--------------------- Level-Specific Elements --------------------*/
.charsheet input.character-level { display: none; }
.charsheet input.character-level[value="1"] ~ div .show-l2,
.charsheet input.character-level[value="1"] ~ div .show-l3,
.charsheet input.character-level[value="1"] ~ div .show-l4,
.charsheet input.character-level[value="1"] ~ div .show-l5,
.charsheet input.character-level[value="1"] ~ div .show-l6,
.charsheet input.character-level[value="1"] ~ div .show-l7,
.charsheet input.character-level[value="1"] ~ div .show-l8,
.charsheet input.character-level[value="1"] ~ div .show-l9,
.charsheet input.character-level[value="1"] ~ div .show-l10,
.charsheet input.character-level[value="2"] ~ div .show-l3,
.charsheet input.character-level[value="2"] ~ div .show-l4,
.charsheet input.character-level[value="2"] ~ div .show-l5,
.charsheet input.character-level[value="2"] ~ div .show-l6,
.charsheet input.character-level[value="2"] ~ div .show-l7,
.charsheet input.character-level[value="2"] ~ div .show-l8,
.charsheet input.character-level[value="2"] ~ div .show-l9,
.charsheet input.character-level[value="2"] ~ div .show-l10,
.charsheet input.character-level[value="3"] ~ div .show-l4,
.charsheet input.character-level[value="3"] ~ div .show-l5,
.charsheet input.character-level[value="3"] ~ div .show-l6,
.charsheet input.character-level[value="3"] ~ div .show-l7,
.charsheet input.character-level[value="3"] ~ div .show-l8,
.charsheet input.character-level[value="3"] ~ div .show-l9,
.charsheet input.character-level[value="3"] ~ div .show-l10,
.charsheet input.character-level[value="4"] ~ div .show-l5,
.charsheet input.character-level[value="4"] ~ div .show-l6,
.charsheet input.character-level[value="4"] ~ div .show-l7,
.charsheet input.character-level[value="4"] ~ div .show-l8,
.charsheet input.character-level[value="4"] ~ div .show-l9,
.charsheet input.character-level[value="4"] ~ div .show-l10,
.charsheet input.character-level[value="5"] ~ div .show-l6,
.charsheet input.character-level[value="5"] ~ div .show-l7,
.charsheet input.character-level[value="5"] ~ div .show-l8,
.charsheet input.character-level[value="5"] ~ div .show-l9,
.charsheet input.character-level[value="5"] ~ div .show-l10,
.charsheet input.character-level[value="6"] ~ div .show-l7,
.charsheet input.character-level[value="6"] ~ div .show-l8,
.charsheet input.character-level[value="6"] ~ div .show-l9,
.charsheet input.character-level[value="6"] ~ div .show-l10,
.charsheet input.character-level[value="7"] ~ div .show-l8,
.charsheet input.character-level[value="7"] ~ div .show-l9,
.charsheet input.character-level[value="7"] ~ div .show-l10,
.charsheet input.character-level[value="8"] ~ div .show-l9,
.charsheet input.character-level[value="8"] ~ div .show-l10,    
.charsheet input.character-level[value="9"] ~ div .show-l10{
  display: none !important;
}
.charsheet input.character-level[value="1"] ~ div .req-l2,
.charsheet input.character-level[value="1"] ~ div .req-l3,
.charsheet input.character-level[value="1"] ~ div .req-l4,
.charsheet input.character-level[value="1"] ~ div .req-l5,
.charsheet input.character-level[value="1"] ~ div .req-l6,
.charsheet input.character-level[value="1"] ~ div .req-l7,
.charsheet input.character-level[value="1"] ~ div .req-l8,
.charsheet input.character-level[value="1"] ~ div .req-l9,
.charsheet input.character-level[value="1"] ~ div .req-l10,
.charsheet input.character-level[value="2"] ~ div .req-l3,
.charsheet input.character-level[value="2"] ~ div .req-l4,
.charsheet input.character-level[value="2"] ~ div .req-l5,
.charsheet input.character-level[value="2"] ~ div .req-l6,
.charsheet input.character-level[value="2"] ~ div .req-l7,
.charsheet input.character-level[value="2"] ~ div .req-l8,
.charsheet input.character-level[value="2"] ~ div .req-l9,
.charsheet input.character-level[value="2"] ~ div .req-l10,
.charsheet input.character-level[value="3"] ~ div .req-l4,
.charsheet input.character-level[value="3"] ~ div .req-l5,
.charsheet input.character-level[value="3"] ~ div .req-l6,
.charsheet input.character-level[value="3"] ~ div .req-l7,
.charsheet input.character-level[value="3"] ~ div .req-l8,
.charsheet input.character-level[value="3"] ~ div .req-l9,
.charsheet input.character-level[value="3"] ~ div .req-l10,
.charsheet input.character-level[value="4"] ~ div .req-l5,
.charsheet input.character-level[value="4"] ~ div .req-l6,
.charsheet input.character-level[value="4"] ~ div .req-l7,
.charsheet input.character-level[value="4"] ~ div .req-l8,
.charsheet input.character-level[value="4"] ~ div .req-l9,
.charsheet input.character-level[value="4"] ~ div .req-l10,
.charsheet input.character-level[value="5"] ~ div .req-l6,
.charsheet input.character-level[value="5"] ~ div .req-l7,
.charsheet input.character-level[value="5"] ~ div .req-l8,
.charsheet input.character-level[value="5"] ~ div .req-l9,
.charsheet input.character-level[value="5"] ~ div .req-l10,
.charsheet input.character-level[value="6"] ~ div .req-l7,
.charsheet input.character-level[value="6"] ~ div .req-l8,
.charsheet input.character-level[value="6"] ~ div .req-l9,
.charsheet input.character-level[value="6"] ~ div .req-l10,
.charsheet input.character-level[value="7"] ~ div .req-l8,
.charsheet input.character-level[value="7"] ~ div .req-l9,
.charsheet input.character-level[value="7"] ~ div .req-l10,
.charsheet input.character-level[value="8"] ~ div .req-l9,
.charsheet input.character-level[value="8"] ~ div .req-l10,    
.charsheet input.character-level[value="9"] ~ div .req-l10{
  color:            var(--disabled-color);
  background-color: var(--disabled-bg);
}

.charsheet textarea.inventory {
  text-align: left;
  margin: 1px 1px;
  font-size: 12px;
  color: var(--text);
  background-color: var(--input);
  border: 1px solid var(--border);
}

.charsheet input.round[type="checkbox"] {
  width: 35px;
  height: 25px;
  padding: 5px;
  background-color: var(--input);
  border-radius: 50%;
  border: 2px solid var(--border);
  margin: 2px solid var(--input);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}

.charsheet input.round:checked {
    background-color: var(--skill-color);
}

.charsheet button.defend {
  width: 16px;
  height: 21px;
  padding: 1px 2px;
  margin: 2px 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border: 2px solid var(--save-color);
  background: var(--save-bg);
}


.charsheet button.opportunity-attack {
  width: 16px;
  height: 21px;
  padding: 1px 2px;
  margin: 2px 4px;
  border-radius: 7px;
  border: 2px solid var(--attack-color);
}

.charsheet button.action {
  width: 60px;
  height: 15px;
  padding: 1px 2px;
  margin: 2px 4px;
  border-radius: 8px;
  border: 2px solid var(--skill-color);
}


.charsheet input[type="number"]{
  text-align: right;
  margin: 2px 4px;
}

.charsheet input[type="text"]{
  margin: 2px 4px;
  border: 1px solid var(--border);
}

.charsheet textarea {
  width: 95%;
  height: 85%;
}

.charsheet input.red {
  border-color: red;
}
.charsheet input.blue {
  border-color: blue;
}
.charsheet input.green {
  border-color: green;
}
.charsheet input.alt {
  background-color: var(--alt-bg);
  border-color: var(--alt-color);
}

/*------------------------------------*\
  #ROLL TEMPLATES
\*------------------------------------*/

/* SKILL ROLLS */

.sheet-rolltemplate-rolls {
  font-family: "Lexend";
}
.sheet-rolltemplate-rolls .sheet-container {
  border: 3px solid black;
  border-radius: 3px;
}
.sheet-rolltemplate-rolls .sheet-header {
  background-color: var(--header-bg-color, #21a835);
  color: var(--header-text-color, #FFF);
  text-align: left;
  text-transform: capitalize;
  padding: 5px;
  border-bottom: 2px solid black;
}
.sheet-rolltemplate-rolls .sheet-title,
.sheet-rolltemplate-rolls .sheet-name {
  font-size: 1.4em;
  font-weight: bold;
}
.sheet-rolltemplate-rolls .sheet-subtitle {
  font-size: 1em;
}
.sheet-rolltemplate-rolls .sheet-container {
  --header-bg-color: #21a835;
  --header-text-color: #FFF;
}

.sheet-rolltemplate-rolls .sheet-content {
  display: grid;
  background: #FFF;
  grid-template-columns: auto auto;
  line-height: 1.4em;
}
.sheet-rolltemplate-rolls .sheet-content > div {
  padding: 5px;
}
.sheet-rolltemplate-rolls .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
.sheet-rolltemplate-rolls .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-rolls .sheet-content :nth-child(4n) {
  background: #EEE;
}

/* ATTACKS */
.sheet-rolltemplate-attacks {
  font-family: "Lexend";
}
.sheet-rolltemplate-attacks .sheet-container {
  border: 3px solid black;
  border-radius: 3px;
}
.sheet-rolltemplate-attacks .sheet-header {
  background-color: var(--header-bg-color, #a83521);
  color: var(--header-text-color, #FFF);
  text-align: left;
  text-transform: capitalize;
  padding: 5px;
  border-bottom: 2px solid black;
}
.sheet-rolltemplate-attacks .sheet-title,
.sheet-rolltemplate-attacks .sheet-name {
  font-size: 1.4em;
  font-weight: bold;
}
.sheet-rolltemplate-attacks .sheet-subtitle {
  font-size: 1em;
}
.sheet-rolltemplate-attacks .sheet-container {
  --header-bg-color: #a83521;
  --header-text-color: #FFF;
}

.sheet-rolltemplate-attacks .sheet-content {
  display: grid;
  background: #FFF;
  grid-template-columns: auto auto;
  line-height: 1.4em;
}
.sheet-rolltemplate-attacks .sheet-content > div {
  padding: 5px;
}
.sheet-rolltemplate-attacks .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
.sheet-rolltemplate-attacks .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-attacks .sheet-content :nth-child(4n) {
  background: #EEE;
}
